dist/*
build/*
node_modules/*
config/*
public/*
scripts/*

src/reportWebVitals.ts
src/service-worker.ts
src/serviceWorkerRegistration.ts
src/setupTests.ts
src/list.js
package.json
package-lock.json

*.min.js
*.test.js
*.scss
*.css
*.lock
*.svg


